services:
  nginx:
    image: nginx:latest  # 직접 빌드 대신 공식 이미지 사용
    container_name: wooori_nginx_proxy
    ports:
      - "80:80" # 외부 요청은 80번 포트로 받고
      - "443:443"  # HTTPS 포트 추가
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      - ./cloudflare/wooori_cert.pem:/etc/ssl/certs/cloudflare.pem
      - ./cloudflare/wooori_key.pem:/etc/ssl/private/cloudflare.key
    depends_on:
      - node
    networks:
      - wooori_network


  node:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: wooori_node_app
    ports:
      - "3030:3030"
    networks:
      - wooori_network
    environment:
      DATABASE_URL: ${DATABASE_URL}
      JWT_SECRET: ${JWT_SECRET}
      JWT_MAX_AGE: ${JWT_MAX_AGE}
      COOKIE_SECRET: ${COOKIE_SECRET}
      PORT: ${PORT}
      MODE: ${MODE}
      R2_ENDPOINT: ${R2_ENDPOINT}
      R2_ACCESS_KEY_ID: ${R2_ACCESS_KEY_ID}
      R2_SECRET_ACCESS_KEY: ${R2_SECRET_ACCESS_KEY}
      R2_BUCKET_NAME: ${R2_BUCKET_NAME}
      R2_PUBLIC_URL: ${R2_PUBLIC_URL}
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "npx prisma generate && npx prisma migrate deploy && npm start"



  db:
    image: postgres:15
    container_name: wooori_postgres_db
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_TEST_USER} -d ${DB_TEST_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${DB_TEST_USER}
      POSTGRES_PASSWORD: ${DB_TEST_PASSWORD}
      POSTGRES_DB: ${DB_TEST_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    networks:
      - wooori_network

networks:
  wooori_network:
    driver: bridge